.album {
      &__thumbnailUrl {
            & > img {
                  width: 200px;
                  border-radius: 7px;
                  background-size: contain;
            }
      }
      &__name {
            font-weight: bold;
      }
}
